<div fxLayout="row wrap" fxLayoutGap="1.5% grid" fxLayoutAlign="start right" fxLayout.lt-sm="row">
    <div fxLayout="row wrap" fxLayoutGap="20px" style="width: 100%;">
        <div fxFlex="100">
            <mat-card>

                <div class="example-button-container">
                    <button mat-mini-fab class="close-button" style="outline: none;" (click)="onNoClick()">
                      <mat-icon>close</mat-icon>
                    </button>
                </div>
                <mat-card-actions fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
                    <mat-card-title fx-item style="color: #001C71; font-weight: lighter;">Alta Precios Gas
                    </mat-card-title>
                </mat-card-actions>
                <mat-card-content>
                    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
                        <div fxLayout="row wrap" fxLayoutGap="30px grid">

                            <div fxFlex="50" fxFlex.lt-md="100" fxl>
                                <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Entidad" formControlName="Entidad" [errorStateMatcher]="matcher" (selectionChange)="getCatalogoMunicipios($event)" required>
                                        <mat-option *ngFor="let entidad of entidades" [value]="entidad.IdEntidadFederal">
                                            {{entidad.Nombre}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="reactiveForm.get('Entidad')!.invalid">Campo requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="50" fxFlex.lt-md="100" fxl>
                                <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Municipio" formControlName="Municipio" [errorStateMatcher]="matcher" required>
                                        <mat-option *ngFor="let municipio of municipios" [value]="municipio.IdMunicipio">
                                            {{municipio.Nombre}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="reactiveForm.get('Municipio')!.invalid">Campo requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="50" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Fecha Inicio</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="FechaInicio">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker style="outline: none;" required></mat-datepicker>
                                    <mat-error *ngIf="reactiveForm.get('FechaInicio')!.hasError('required')">
                                        El dato es oblgatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="50" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Precio Lt</mat-label>
                                    <input matInput placeholder="PrecioLtr" formControlName="PrecioLtr" maxlength="6" required (keypress)="keyPress($event)">
                                    <mat-error *ngIf="reactiveForm.get('PrecioLtr')!.hasError('required')">
                                        El dato es oblgatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>
                        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                            <button mat-mini-fab style="background-color: #80BC00; outline:none;" matTooltip="Guardar" (click)="guardarPreciosGas()">
								<mat-icon>save</mat-icon>
							</button>
                        </div>
                    </form>
                </mat-card-content>
                <notifier-container></notifier-container>
            </mat-card>
        </div>
    </div>
</div>