<app-dashboard _nghost-qmw-c246="" class="ng-star-inserted">
    <div _ngcontent-qmw-c246="" fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
        <div _ngcontent-qmw-c246="" fxflex.sm="100" fxflex.xs="100" fxflex.md="33.33" fxflex.lg="25"
            fxflex.xl="33.33" fxflex="100" class="m-gap p-gap"
            style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 25%;">
            <mat-card _ngcontent-qmw-c246="" class="mat-card mat-focus-indicator">
                <div _ngcontent-qmw-c246="" class="card-wheather grad-blue">
                    <div _ngcontent-qmw-c246="" class="city">New Orders</div>
                    <div _ngcontent-qmw-c246="" class="date">This Week</div>
                    <div _ngcontent-qmw-c246="" class="weather">
                        <div _ngcontent-qmw-c246="" class="sun d-flex justify-content-between">
                            <mat-icon  role="img" class="mat-icon notranslate routeIcon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">account_circle</mat-icon>
                            
                            <div _ngcontent-qmw-c246="" class="temp align-self-center">190</div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

        <div _ngcontent-qmw-c246="" fxflex.sm="100" fxflex.xs="100" fxflex.md="33.33" fxflex.lg="25"
        fxflex.xl="33.33" fxflex="100" class="m-gap p-gap"
        style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 25%;">
        <mat-card _ngcontent-qmw-c246="" class="mat-card mat-focus-indicator">
            <div _ngcontent-qmw-c246="" class="card-wheather grad-blue">
                <div _ngcontent-qmw-c246="" class="city">New Orders</div>
                <div _ngcontent-qmw-c246="" class="date">This Week</div>
                <div _ngcontent-qmw-c246="" class="weather">
                    <div _ngcontent-qmw-c246="" class="sun d-flex justify-content-between"><i _ngcontent-qmw-c246=""
                            class="fa fa-shopping-bag fa-3x align-self-center"></i>
                        <div _ngcontent-qmw-c246="" class="temp align-self-center">190</div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
      
    <div _ngcontent-qmw-c246="" fxflex.sm="100" fxflex.xs="100" fxflex.md="33.33" fxflex.lg="25"
    fxflex.xl="33.33" fxflex="100" class="m-gap p-gap"
    style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 25%;">
    <mat-card _ngcontent-qmw-c246="" class="mat-card mat-focus-indicator">
        <div _ngcontent-qmw-c246="" class="card-wheather grad-blue">
            <div _ngcontent-qmw-c246="" class="city">New Orders</div>
            <div _ngcontent-qmw-c246="" class="date">This Week</div>
            <div _ngcontent-qmw-c246="" class="weather">
                <div _ngcontent-qmw-c246="" class="sun d-flex justify-content-between"><i _ngcontent-qmw-c246=""
                        class="fa fa-shopping-bag fa-3x align-self-center"></i>
                    <div _ngcontent-qmw-c246="" class="temp align-self-center">190</div>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<div _ngcontent-qmw-c246="" fxflex.sm="100" fxflex.xs="100" fxflex.md="33.33" fxflex.lg="25"
fxflex.xl="33.33" fxflex="100" class="m-gap p-gap"
style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 25%;">
<mat-card _ngcontent-qmw-c246="" class="mat-card mat-focus-indicator">
    <div _ngcontent-qmw-c246="" class="card-wheather grad-blue">
        <div _ngcontent-qmw-c246="" class="city">New Orders</div>
        <div _ngcontent-qmw-c246="" class="date">This Week</div>
        <div _ngcontent-qmw-c246="" class="weather">
            <div _ngcontent-qmw-c246="" class="sun d-flex justify-content-between"><i _ngcontent-qmw-c246=""
                    class="fa fa-shopping-bag fa-3x align-self-center"></i>
                <div _ngcontent-qmw-c246="" class="temp align-self-center">190</div>
            </div>
        </div>
    </div>
</mat-card>
</div>
    </div>
    <div _ngcontent-qmw-c246="" fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
       
        <div _ngcontent-qmw-c246="" fxflex.gt-sm="33.33%" fxflex.gt-xs="50" fxflex="100" class="m-gap p-gap"
        style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
        <mat-card _ngcontent-qmw-c246="" class="mat-card mat-focus-indicator">
            <mat-card-title _ngcontent-qmw-c246="" fxlayout="row" fxlayoutalign="start center"
                class="mat-card-title"
                style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                Sales Report &nbsp; <span _ngcontent-qmw-c246="" fxflex=""
                    style="flex: 1 1 0%; box-sizing: border-box;"></span><button _ngcontent-qmw-c246=""
                    aria-haspopup="true" mat-icon-button="" mat-button-sm="" aria-label="Open card menu"
                    class="mat-focus-indicator mat-menu-trigger mat-icon-button mat-button-base"><span
                        class="mat-button-wrapper">
                        <mat-icon _ngcontent-qmw-c246="" role="img"
                            class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                            more_vert</mat-icon>
                    </span>
                    <div matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></div>
                    <div class="mat-button-focus-overlay"></div>
                </button>
                <!---->
            </mat-card-title>
            <mat-menu _ngcontent-qmw-c246="" x-position="before" class="ng-tns-c113-10 ng-star-inserted">
                <!---->
            </mat-menu>
            <hr _ngcontent-qmw-c246="">
            <mat-card-content _ngcontent-qmw-c246="" class="mat-card-content">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div><canvas _ngcontent-qmw-c246="" height="364" basechart="" class="chart chartjs-render-monitor"
                    width="546" style="display: block; width: 546px; height: 364px;"></canvas>
            </mat-card-content>
        </mat-card>
    </div>

    <div _ngcontent-qmw-c246="" fxflex.gt-sm="66.66%" fxflex.gt-xs="50" fxflex="100" class="m-gap p-gap"
    style="flex: 1 1 66.66%; box-sizing: border-box; max-width: 66.66%;">
    <mat-card _ngcontent-qmw-c246="" class="mat-card mat-focus-indicator">
        <mat-card-title _ngcontent-qmw-c246="" fxlayout="row" fxlayoutalign="start center"
            class="mat-card-title"
            style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
            Sales Report &nbsp; <span _ngcontent-qmw-c246="" fxflex=""
                style="flex: 1 1 0%; box-sizing: border-box;"></span><button _ngcontent-qmw-c246=""
                aria-haspopup="true" mat-icon-button="" mat-button-sm="" aria-label="Open card menu"
                class="mat-focus-indicator mat-menu-trigger mat-icon-button mat-button-base"><span
                    class="mat-button-wrapper">
                    <mat-icon _ngcontent-qmw-c246="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                        more_vert</mat-icon>
                </span>
                <div matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></div>
                <div class="mat-button-focus-overlay"></div>
            </button>
            <!---->
        </mat-card-title>
        <mat-menu _ngcontent-qmw-c246="" x-position="before" class="ng-tns-c113-10 ng-star-inserted">
            <!---->
        </mat-menu>
        <hr _ngcontent-qmw-c246="">
        <mat-card-content _ngcontent-qmw-c246="" class="mat-card-content">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div><canvas _ngcontent-qmw-c246="" height="364" basechart="" class="chart chartjs-render-monitor"
                width="546" style="display: block; width: 546px; height: 364px;"></canvas>
        </mat-card-content>
    </mat-card>
</div>
       
    
        
    </div>
    
    <div _ngcontent-qmw-c246="" fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
        <div _ngcontent-qmw-c246="" fxflex.gt-sm="66.66%" fxflex.gt-xs="50" fxflex="100" class="m-gap p-gap"
        style="flex: 1 1 66.66%; box-sizing: border-box; max-width: 66.66%;">
        <mat-card _ngcontent-qmw-c246="" class="mat-card mat-focus-indicator">
            <mat-card-title _ngcontent-qmw-c246="" fxlayout="row" fxlayoutalign="start center"
                class="mat-card-title"
                style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                Sales Report &nbsp; <span _ngcontent-qmw-c246="" fxflex=""
                    style="flex: 1 1 0%; box-sizing: border-box;"></span><button _ngcontent-qmw-c246=""
                    aria-haspopup="true" mat-icon-button="" mat-button-sm="" aria-label="Open card menu"
                    class="mat-focus-indicator mat-menu-trigger mat-icon-button mat-button-base"><span
                        class="mat-button-wrapper">
                        <mat-icon _ngcontent-qmw-c246="" role="img"
                            class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                            more_vert</mat-icon>
                    </span>
                    <div matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></div>
                    <div class="mat-button-focus-overlay"></div>
                </button>
                <!---->
            </mat-card-title>
            <mat-menu _ngcontent-qmw-c246="" x-position="before" class="ng-tns-c113-10 ng-star-inserted">
                <!---->
            </mat-menu>
            <hr _ngcontent-qmw-c246="">
            <mat-card-content _ngcontent-qmw-c246="" class="mat-card-content">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div><canvas _ngcontent-qmw-c246="" height="364" basechart="" class="chart chartjs-render-monitor"
                    width="546" style="display: block; width: 546px; height: 364px;"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
           
        <div _ngcontent-qmw-c246="" fxflex.gt-sm="33.33%" fxflex.gt-xs="50" fxflex="100" class="m-gap p-gap"
        style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
        <mat-card _ngcontent-qmw-c246="" class="mat-card mat-focus-indicator">
            <mat-card-title _ngcontent-qmw-c246="" fxlayout="row" fxlayoutalign="start center"
                class="mat-card-title"
                style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                Sales Report &nbsp; <span _ngcontent-qmw-c246="" fxflex=""
                    style="flex: 1 1 0%; box-sizing: border-box;"></span><button _ngcontent-qmw-c246=""
                    aria-haspopup="true" mat-icon-button="" mat-button-sm="" aria-label="Open card menu"
                    class="mat-focus-indicator mat-menu-trigger mat-icon-button mat-button-base"><span
                        class="mat-button-wrapper">
                        <mat-icon _ngcontent-qmw-c246="" role="img"
                            class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                            more_vert</mat-icon>
                    </span>
                    <div matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></div>
                    <div class="mat-button-focus-overlay"></div>
                </button>
                <!---->
            </mat-card-title>
            <mat-menu _ngcontent-qmw-c246="" x-position="before" class="ng-tns-c113-10 ng-star-inserted">
                <!---->
            </mat-menu>
            <hr _ngcontent-qmw-c246="">
            <mat-card-content _ngcontent-qmw-c246="" class="mat-card-content">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div><canvas _ngcontent-qmw-c246="" height="364" basechart="" class="chart chartjs-render-monitor"
                    width="546" style="display: block; width: 546px; height: 364px;"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
    </div>
   
    <div _ngcontent-qmw-c246="" fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
        <div _ngcontent-qmw-c246="" fxflex.gt-sm="33.33%" fxflex="100" class="m-gap p-gap"
            style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
            <mat-card _ngcontent-qmw-c246="" class="mat-card mat-focus-indicator">
                <div _ngcontent-qmw-c246="" fxlayout="row wrap"
                    style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
                    <div _ngcontent-qmw-c246="" fxflex.gt-sm="50%" fxlayoutalign="center center" fxflex="100"
                        class="m-gap p-gap mb-0 grad-blue icon-tp"
                        style="flex: 1 1 50%; box-sizing: border-box; place-content: center; align-items: center; flex-direction: row; display: flex; max-width: 50%;">
                        <div _ngcontent-qmw-c246="" class="text-center"><i _ngcontent-qmw-c246=""
                                class="fa fa-facebook fa-3x"></i>
                            <div _ngcontent-qmw-c246="" class="d-inline-block">
                                <h5 _ngcontent-qmw-c246="">Facebook</h5>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-qmw-c246="" fxflex.gt-sm="50%" fxflex="100" fxlayoutalign="center center"
                        class="m-gap p-gap mb-0"
                        style="flex: 1 1 50%; box-sizing: border-box; place-content: center; align-items: center; flex-direction: row; display: flex; max-width: 50%;">
                        <div _ngcontent-qmw-c246="" class="card-block text-center">
                            <div _ngcontent-qmw-c246="" class="row">
                                <div _ngcontent-qmw-c246="">
                                    <h2 _ngcontent-qmw-c246="">31</h2>
                                    <p _ngcontent-qmw-c246="" class="text-muted">Online</p>
                                </div>
                                <hr _ngcontent-qmw-c246="">
                                <div _ngcontent-qmw-c246="">
                                    <h2 _ngcontent-qmw-c246="">11</h2>
                                    <p _ngcontent-qmw-c246="" class="text-muted">Comment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div _ngcontent-qmw-c246="" fxflex.gt-sm="33.33%" fxflex="100" class="m-gap p-gap"
            style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
            <mat-card _ngcontent-qmw-c246="" class="mat-card mat-focus-indicator">
                <div _ngcontent-qmw-c246="" fxlayout="row wrap"
                    style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
                    <div _ngcontent-qmw-c246="" fxflex.gt-sm="50%" fxlayoutalign="center center" fxflex="100"
                        class="m-gap p-gap mb-0 grad-green icon-tp"
                        style="flex: 1 1 50%; box-sizing: border-box; place-content: center; align-items: center; flex-direction: row; display: flex; max-width: 50%;">
                        <div _ngcontent-qmw-c246="" class="text-center"><i _ngcontent-qmw-c246=""
                                class="fa fa-twitter fa-3x"></i>
                            <div _ngcontent-qmw-c246="" class="d-inline-block">
                                <h5 _ngcontent-qmw-c246="">Twitter</h5>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-qmw-c246="" fxflex.gt-sm="50%" fxflex="100" fxlayoutalign="center center"
                        class="m-gap p-gap mb-0"
                        style="flex: 1 1 50%; box-sizing: border-box; place-content: center; align-items: center; flex-direction: row; display: flex; max-width: 50%;">
                        <div _ngcontent-qmw-c246="" class="card-block text-center">
                            <div _ngcontent-qmw-c246="" class="row">
                                <div _ngcontent-qmw-c246="">
                                    <h2 _ngcontent-qmw-c246="">76</h2>
                                    <p _ngcontent-qmw-c246="" class="text-muted">Online</p>
                                </div>
                                <hr _ngcontent-qmw-c246="">
                                <div _ngcontent-qmw-c246="">
                                    <h2 _ngcontent-qmw-c246="">19</h2>
                                    <p _ngcontent-qmw-c246="" class="text-muted">Comment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div _ngcontent-qmw-c246="" fxflex.gt-sm="33.33%" fxflex="100" class="m-gap p-gap"
            style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
            <mat-card _ngcontent-qmw-c246="" class="mat-card mat-focus-indicator">
                <div _ngcontent-qmw-c246="" fxlayout="row wrap"
                    style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
                    <div _ngcontent-qmw-c246="" fxflex.gt-sm="50%" fxlayoutalign="center center" fxflex="100"
                        class="m-gap p-gap mb-0 grad-red icon-tp"
                        style="flex: 1 1 50%; box-sizing: border-box; place-content: center; align-items: center; flex-direction: row; display: flex; max-width: 50%;">
                        <div _ngcontent-qmw-c246="" class="text-center"><i _ngcontent-qmw-c246=""
                                class="fa fa-linkedin fa-3x"></i>
                            <div _ngcontent-qmw-c246="" class="d-inline-block">
                                <h5 _ngcontent-qmw-c246="">Linkedin</h5>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-qmw-c246="" fxflex.gt-sm="50%" fxflex="100" fxlayoutalign="center center"
                        class="m-gap p-gap mb-0"
                        style="flex: 1 1 50%; box-sizing: border-box; place-content: center; align-items: center; flex-direction: row; display: flex; max-width: 50%;">
                        <div _ngcontent-qmw-c246="" class="card-block text-center">
                            <div _ngcontent-qmw-c246="" class="row">
                                <div _ngcontent-qmw-c246="">
                                    <h2 _ngcontent-qmw-c246="">9</h2>
                                    <p _ngcontent-qmw-c246="" class="text-muted">Online</p>
                                </div>
                                <hr _ngcontent-qmw-c246="">
                                <div _ngcontent-qmw-c246="">
                                    <h2 _ngcontent-qmw-c246="">21</h2>
                                    <p _ngcontent-qmw-c246="" class="text-muted">Comment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</app-dashboard>