.ng2-pdf-viewer-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }



  .mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 4px;
}

.p-gap {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}


.m-gap {
  margin-bottom: 1.5rem;
}



.grad-blue[_ngcontent-qmw-c246] {
  background: linear-gradient(58deg, #001a70, #002bbb);
  
  color: #fff;
}

 .mat-card .mat-card-title {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1;
  font-size: .8rem;
  font-weight: 400;
}

.mat-list-base .mat-list-item .mat-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}

.date[_ngcontent-qmw-c246] {
  font-size: 15px;
  line-height: 40px;
}

.card-wheather[_ngcontent-qmw-c246] {
  padding: 1.5rem;
  height: 150px;
  color: #fff;
  font-size: 1.2rem;
}


.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.mat-icon {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 44px;
  width: 44px;
  font-size: 50px;
}

[mat-icon-button][mat-button-sm] mat-icon {
  font-size: 20px;
  line-height: 20px;
}



.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
}

.row {
 
  display: block;
  -ms-flex-wrap: wrap;
  /* flex-wrap: wrap; */
  /* margin-right: -15px; */
  /* margin-left: -15px; */
}

p {
  font-size: .875rem;
}

.grad-green[_ngcontent-cmm-c246] {
  background: linear-gradient(58deg, #001a70, #002bbb);
  color: #fff;
}


app-pie-chart{
  display: flex;
  justify-content: center;
}

