<div fxLayout="row wrap" fxLayoutGap="1.5% grid" fxLayoutAlign="start center" fxLayout.lt-sm="row">
    <h2 class="title-header-content" mat-raised-button>Reporte de Consumo Litros Ahorro </h2>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div fxFlex="30">
            <mat-card>
                <mat-card-actions fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
                    <mat-card-title fx-item style="color: #009288; font-weight: lighter;">Filtros de búsqueda
                    </mat-card-title>
                    <button mat-fab style="background-color: #2d4248; outline: none;" matTooltip="Buscar Consumo It Ahorro" outline:none;>
                      <mat-icon>search</mat-icon>
                    </button>
                </mat-card-actions>

                <mat-card-content fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
                    <div fxFlex="50" fxFlex.lt-md="100" fxl>
                        <mat-form-field>
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="Fecha">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker style="outline: none;" required></mat-datepicker>
                            <mat-error *ngIf="reactiveForm.get('Fecha')!.hasError('required')">
                                El dato es oblgatorio
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </form>

    <div id="divTitle" class="example-header" fxFlex="100" fxFlex.gt-md="30">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filtro">
        </mat-form-field>
    </div>

    <div id="divReport" class="example-header" fxFlex="100" fxFlex.gt-md="30">
        <button (click)="exportAsXLSX()" style="border-style: none; outline: none;" matTooltip="Exportar a Excel"><img src="./assets/iconos/excel.png" /></button>&nbsp;&nbsp;
    </div>
    <div class="example-container mat-elevation-z8" fxFlex="100" fxFlex.gt-md="100" id="htmlData">
        <mat-table [dataSource]="dataSource" matSort>

            <!-- Progress Column -->
            <ng-container matColumnDef="Concesionario">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Concesionario
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Concesionario}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="Marca">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Marca
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Marca}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="Modelo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Modelo
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Modelo}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="Serie">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Serie
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Serie}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="Placa">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Placa
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Placa}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="Sindicato">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Sindicato
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Sindicato}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="PorcAhorroConcesion">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Porc Ahorro Concesión
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.PorcAhorroConcesion | number}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="PorcAhorroPropietario">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Porc Ahorro Propietario
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.PorcAhorroPropietario | number}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="FechaInicio">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.FechaInicio | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="FechaCorte">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Corte
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.FechaCorte | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="ConsumoMes">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Consumo Mes
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ConsumoMes | number}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="ConsumoTotal">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Consumo Total
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ConsumoTotal | number}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="AhorroUtilizado">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Ahorro Utilizado
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.AhorroUtilizado | number}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
    <notifier-container></notifier-container>
</div>