<div fxLayout="row wrap" fxLayoutGap="1.5% grid" fxLayoutAlign="start center" fxLayout.lt-sm="row">
	<div fxLayout="row wrap" fxLayoutGap="20px" style="width: 100%;">
		<div fxFlex="100">
			<mat-card>
				<mat-card-content>
					<form [formGroup]="frmStepThree" (ngSubmit)="onSubmit()">
						<div fxLayout="row wrap" fxLayoutGap="30px grid">
			
							<div fxFlex="25" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>RFC</mat-label>
                                    <input matInput placeholder="RFC" formControlName="RFC" maxlength="13"
                                        onkeyup="javascript:this.value=this.value.toUpperCase();"
                                        pattern="^(([ÑA-Z|ña-z|&]{3}|[A-Z|a-z]{4})\d{2}((0[1-9]|1[012])(0[1-9]|1\d|2[0-8])|(0[13456789]|1[012])(29|30)|(0[13578]|1[02])31)(\w{2})([A|a|0-9]{1}))$|^(([ÑA-Z|ña-z|&]{3}|[A-Z|a-z]{4})([02468][048]|[13579][26])0229)(\w{2})([A|a|0-9]{1})$"
                                        required >
                                    <mat-error *ngIf="frmStepThree.get('RFC')!.hasError('required')">
                                        El dato es obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>CURP</mat-label>
                                    <input matInput placeholder="CURP" formControlName="CURP" maxlength="18"
                                        onkeyup="javascript:this.value=this.value.toUpperCase();"
                                        pattern="^[A-Z]{1}[AEIOU]{1}[A-Z]{2}[0-9]{2}(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[HM]{1}(AS|BC|BS|CC|CS|CH|CL|CM|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[B-DF-HJ-NP-TV-Z]{3}[0-9A-Z]{1}[0-9]{1}$">
                                </mat-form-field>
                            </div>
                            <div fxFlex="50" fxFlex.lt-md="100" fxl></div>
                            <div fxFlex="33.3" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="Nombre" formControlName="Nombre" maxlength="45" required
                                    onkeydown="return /[a-z, ]/i.test(event.key)">
                                    <mat-error *ngIf="frmStepThree.get('Nombre')!.hasError('required')">
                                        El dato es oblgatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="33.3" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Apellido Paterno</mat-label>
                                    <input matInput placeholder="Apellido Paterno" formControlName="Paterno" maxlength="45"
                                    onkeydown="return /[a-z, ]/i.test(event.key)"  required>
                                    <mat-error *ngIf="frmStepThree.get('Paterno')!.hasError('required')">
                                        El dato es oblgatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="33.3" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Apellido Materno</mat-label>
                                    <input matInput placeholder="Apellido Materno" formControlName="Materno" maxlength="45"
                                    onkeydown="return /[a-z, ]/i.test(event.key)">
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxFlex.lt-md="100" fxl>
                                <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Tipo Persona" formControlName="TipoPersona" required
                                        [errorStateMatcher]="matcher">
                                        <mat-option *ngFor="let tipoPersona of tiposPersona" [value]="tipoPersona.TipoPersona">
                                            {{tipoPersona.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="frmStepThree.get('TipoPersona')!.hasError('required')">
                                        El dato es obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxFlex.lt-md="100" fxl>
                                <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Género" formControlName="Genero" required
                                        [errorStateMatcher]="matcher">
                                        <mat-option *ngFor="let genero of genero" [value]="genero.Genero">
                                            {{genero.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="frmStepThree.get('Genero')!.hasError('required')">
                                        El dato es obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxFlex.lt-md="100" fxl>
                                <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Estado Civil" formControlName="EstadoCivil" 
                                        [errorStateMatcher]="matcher">
                                        <mat-option *ngFor="let estadoCivil of estadoCivil" [value]="estadoCivil.EstadoCivil">
                                            {{estadoCivil.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Fecha de Nacimiento</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="FechaNacimiento">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>CP</mat-label>
                                    <input matInput placeholder="CP" formControlName="cp" maxlength="5" required
                                        (keypress)="keyPress($event)" (change)="changeCP()">
                                    <mat-error *ngIf="frmStepThree.get('cp')!.hasError('required')">
                                        El dato es oblgatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Municipio</mat-label>
                                    <input matInput placeholder="Municipio" formControlName="municipio" maxlength="45" 
                                        [value]="municipio">
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Entidad</mat-label>
                                    <input matInput placeholder="Entidad" formControlName="entidad" maxlength="45">
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxFlex.lt-md="100" fxl>
                                <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Colonia" formControlName="IdColonia" required
                                        [errorStateMatcher]="matcher">
                                        <mat-option *ngFor="let col of colonias" [value]="col.IdColonia">
                                            {{col.Colonia}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="frmStepThree.get('IdColonia')!.hasError('required')">
                                        El dato es obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="50" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Calle</mat-label>
                                    <input matInput placeholder="Calle" formControlName="Calle" maxlength="60" >
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Número Exterior</mat-label>
                                    <input matInput placeholder="Número Exterior" formControlName="Exterior" maxlength="10">
                                </mat-form-field>
                            </div>
                            <div fxFlex="25" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Número Interior</mat-label>
                                    <input matInput placeholder="Número Interior" formControlName="Interior" maxlength="10">
                                </mat-form-field>
                            </div>
            
            
                            <div fxFlex="33.3" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Teléfono</mat-label>
                                    <input matInput placeholder="Teléfono Contacto" formControlName="Telefono" mask="(000) 000-0000"
                                        required>
                                    <mat-error *ngIf="frmStepThree.get('Telefono')!.hasError('required')">
                                        El dato es oblgatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="33.3" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Celular</mat-label>
                                    <input matInput placeholder="Celular" formControlName="Celular" mask="(000) 000-0000" >
                                </mat-form-field>
                            </div>
                            <div fxFlex="33.3" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Correo</mat-label>
                                    <input matInput placeholder="Correo" formControlName="email" maxlength="75"   required>
                                </mat-form-field>
                                <mat-error *ngIf="frmStepThree.get('email')!.hasError('required')">
                                    El dato es obligatorio
                                </mat-error>
                            </div>
            
                            <div fxFlex="33.3" fxFlex.lt-md="100" fxl>
                                <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Tipo Identificación" formControlName="IdIdentificacion" 
                                        [errorStateMatcher]="matcher">
                                        <mat-option *ngFor="let identificacion of identificaciones"
                                            [value]="identificacion.IdIdentificacion">
                                            {{identificacion.Nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="33.3" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Folio</mat-label>
                                    <input matInput placeholder="Folio" formControlName="FolioIdentificacion" maxlength="25">
                                </mat-form-field>
                            </div>						
						</div>
				<!--	<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
							<button mat-fab style="background-color: #f65545; outline:none;" matTooltip="Cerrar" matDialogClose>
								<mat-icon>clear</mat-icon>
							</button>
							<button mat-fab style="background-color: #00b140; outline:none;" matTooltip="Guardar y Continuar"
								(click)="guardarPropietario()">
								<mat-icon>done</mat-icon>
							</button>
						</div> -->	
			
					</form>
				</mat-card-content>
                <notifier-container></notifier-container>	
			</mat-card>
	<!--	<br>
			<alert></alert>-->
		</div>
	</div>
</div>
