.mat-form-field {
    font-size: 12px;
    width: 100%;
  }

  .close-button{
    float: right;
    top:-24px;
    right:-24px;
    background-color: #F15A24;
  }

  .button-edit {
    width: 35px;
    height: 35px;
    outline: none;
    background-color: #001C71;
  }