<div fxLayout="row wrap" fxLayoutGap="1.5% grid" fxLayoutAlign="start center" fxLayout.lt-sm="row">
    <div fxLayout="row wrap" fxLayoutGap="20px" style="width: 100%;">
        <div fxFlex="100">
            <mat-card>
                <div class="example-button-container">
                    <button mat-mini-fab class="close-button" style="outline: none;" (click)="onNoClick()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <mat-card-actions>
                    <mat-card-title fx-item style="color: #001C71; font-weight: lighter;">Lista de documentos
                    </mat-card-title>
                    <br>
                    <mat-card-subtitle>Concesionario: {{nombreConcesionarioValue}}</mat-card-subtitle>
                    <mat-card-subtitle>Automóvil: {{marcaValue}} {{submarcaValue}}, modelo {{modeloValue}}.
                    </mat-card-subtitle>
                </mat-card-actions>

                <mat-card-content>
                    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
                        <div fxLayout="row wrap" fxLayoutGap="20px" fxFlex="100">

                            <div class=" mat-elevation-z8" fxFlex="100" fxFlex.gt-md="100">
                                <mat-table [dataSource]="dataSource" matSort>                                   
                                    <!-- ID Column -->
                                    <ng-container matColumnDef="IdDocumento">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                                        <mat-cell *matCellDef="let row" style="font-size: 12px;"> {{row.IdDocumento}}
                                        </mat-cell>
                                    </ng-container>

                                    <!-- Color Column -->
                                    <ng-container matColumnDef="Documento">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Documento
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" style="font-size: 12px;"> {{row.Documento}}
                                        </mat-cell>
                                    </ng-container>

                                    <!-- Color Column -->
                                    <ng-container matColumnDef="IdVehiculo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> IdVehiculo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" style="font-size: 12px;"> {{row.IdVehiculo}}
                                        </mat-cell>
                                    </ng-container>


                                    <!-- Progress Column -->
                                    <ng-container matColumnDef="NombreArchivo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Archivo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" style="font-size: 12px;"> {{row.NombreArchivo}}
                                        </mat-cell>
                                    </ng-container>

                                    <!-- Progress Column -->
                                    <ng-container matColumnDef="Faltante">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Digitalizado
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" style="font-size: 12px;"> <button mat-mini-fab
                                                class="upload-btn" *ngIf="row.Faltante == 1"
                                                style="outline:none; background-color: #F15A24;"
                                                matTooltip="">
                                                <mat-icon color="white">{{row.Faltante=='1' ? 'priority_high': ''}}
                                                </mat-icon>
                                            </button>
                                            <button mat-mini-fab class="upload-btn" *ngIf="row.Faltante == 0"
                                                style="outline:none; background-color: #80BC00;"
                                                matTooltip="">
                                                <mat-icon color="white"> {{row.Faltante=='0' ? 'done': ''}}</mat-icon>
                                            </button>
                                        </mat-cell>
                                    </ng-container>


                                    <!-- Color Column -->
                                    <ng-container matColumnDef="NombreArchivoPDF">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header class="header-align-center">
                                            Archivo PDF
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="header-align-center"
                                            style="font-size: 12px;">
                                            {{row.NombreArchivoPDF}}</mat-cell>
                                    </ng-container>


                                    <!-- Color Column -->
                                    <ng-container matColumnDef="archivoPDF">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header class="header-align-center">
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="header-align-center"
                                            style="font-size: 12px;">
                                            <div fxFlex="100" fxFlex.lt-md="100" fxl class="divClass">
                                                <input type="file" class="file-input"
                                                    (change)="onFileSelected($event, row)" id="file1" #fileUpload>

                                                <div class="file-upload"  #fileUpload>
                                                    <button mat-mini-fab class="upload-btn"  [disabled]="row.Calificacion=='1' ? true: false"
                                                        style="outline:none; background-color: #3f51b5;" type="file"
                                                        (click)="fileUpload.click()"
                                                        (change)="onFileSelected($event, row)"
                                                        matTooltip="Adjuntar Archivo PDF">
                                                        <mat-icon>attach_file</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="actions" stickyEnd>
                                        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <!--        <a (click)="verPDF(row)" matTooltip="Ver PDF"
                                                class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover"
                                                mat-icon-button>
                                                <img src="./assets/iconos/pdf.png" />
                                                <mat-icon style="color: #009288;">folder_open</mat-icon>
                                            </a>  -->
                                            <button mat-mini-fab class="button-documentos" (click)="verPDF(row)"
                                                matTooltip="Ver PDF" style="outline:none; background-color: #3f51b5;">
                                                <mat-icon class="iconSize">zoom_in</mat-icon>
                                            </button>
                                        </mat-cell>
                                    </ng-container>
                                    						<!--toggle column -->
						
                            <ng-container matColumnDef="Correcto" stickyEnd>
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Validar documentos</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <a (click)="editar(row, 1)" matTooltip="Correcto" *ngIf="!row.editable"
                                    class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover"
                                    mat-icon-button>
                                   <mat-icon style="color: #1B4F72;">check_box</mat-icon>
                                 </a>
                                 <a (click)="salvar(row, 1)" matTooltip="Guardar" *ngIf="row.editable"
                                 class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover"
                                 mat-icon-button>
                                <mat-icon style="color: #009288;">save</mat-icon>
                              </a>
                              <a (click)="cancelar(row, 1)" matTooltip="Cancelar" *ngIf="row.editable"
                                 class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover"
                                 mat-icon-button>
                                <mat-icon style="color: #009288;">cancel</mat-icon>
                              </a>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Incorrecto" stickyEnd>
                                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <a (click)="editar(row, 0)" matTooltip="Incorrecto" *ngIf="!row.editable1"
                                    class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover"
                                    mat-icon-button>
                                   <mat-icon style="color: #009288;">cancel</mat-icon>
                                 </a>
                                 <a (click)="salvar(row, 0)" matTooltip="Guardar" *ngIf="row.editable1"
                                 class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover"
                                 mat-icon-button>
                                <mat-icon style="color: #009288;">save</mat-icon>
                              </a>
                              <a (click)="cancelar(row, 0)" matTooltip="Cancelar" *ngIf="row.editable1"
                                 class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover"
                                 mat-icon-button>
                                <mat-icon style="color: #009288;">cancel</mat-icon>
                              </a>
                                </mat-cell>
                            </ng-container>


                             <!-- Progress Column -->
                             <ng-container matColumnDef="Calificacion">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus de la Revisión
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" style="font-size: 12px;"> 
                                    <button mat-mini-fab class="upload-btn" *ngIf="row.Calificacion == 0"
                                        style="outline:none; background-color: #F15A24;"
                                        matTooltip="">
                                        <mat-icon color="white">{{row.Calificacion=='0' ? 'close': ''}} </mat-icon>
                                    </button>
                                    <button mat-mini-fab class="upload-btn" *ngIf="row.Calificacion == 1"
                                        style="outline:none; background-color: #80BC00;"
                                        matTooltip="">
                                        <mat-icon color="white"> {{row.Calificacion=='1' ? 'done': ''}}</mat-icon>
                                    </button>
                                    <button mat-mini-fab class="upload-btn" *ngIf="row.Calificacion == 2"
                                    style="outline:none; background-color: #F1C40F;"
                                    matTooltip="">
                                    <mat-icon color="white"> {{row.Calificacion=='2' ? 'search': ''}}</mat-icon>
                                </button>
                                </mat-cell>
                            </ng-container>
    
                                <!-- Color Column -->
                                <ng-container matColumnDef="Observaciones" >
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones </mat-header-cell>
                                    <mat-cell *matCellDef="let row" > <span *ngIf="!row.editable1; else editPlace" >
                                        {{row.Observaciones}}
                                      </span>
                                      <ng-template #editPlace  >
                                          <mat-form-field  appereance="fill">                                        
                                        <input matInput formControlName="Observaciones" 
                                               [(ngModel)]="row.Observaciones"  >
                                            </mat-form-field >
                                      </ng-template> </mat-cell>
                                </ng-container>
                                


                                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </mat-row>
                                </mat-table>
                                <!--    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>-->
                            </div>
                        </div>
                    </form>
                </mat-card-content>
                <notifier-container></notifier-container>
            </mat-card>
        </div>
    </div>
</div>
