<div fxLayout="row wrap" fxLayoutGap="1.5% grid" fxLayout.lt-sm="row">
    <div fxLayout="row wrap" fxLayoutGap="20px" fxFlex="100">
        <div fxFlex="100">
            <mat-card>
                <mat-card-actions fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
                    <mat-card-title fx-item style="color: #001C71; font-weight: lighter;">Estaciones
                    </mat-card-title>
                    <button mat-fab style="background-color: #80BC00; outline: none;" matTooltip="Estaciones" outline:none; (click)="openDialog()">
						<mat-icon>add</mat-icon>
					</button>
                </mat-card-actions>

                <mat-card-header>
                    <div class="w-full" fxFlex="30">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filtro">
                        </mat-form-field>
                    </div>
                </mat-card-header>

                <mat-card-content>
                    <div>
                        <alert style="font-size: small; height: 30px;"></alert>
                    </div>
                    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
                        <div class="example-container mat-elevation-z8" fxFlex="100" fxFlex.gt-md="100">
                            <mat-table [dataSource]="dataSource" matSort>

                                <!-- ID Column -->
                                <ng-container matColumnDef="IdEstacion">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Id Estación
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.IdEstacion}} </mat-cell>
                                </ng-container>

                                <!-- ID Column -->
                                <ng-container matColumnDef="Nombre">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.Nombre}} </mat-cell>
                                </ng-container>

                                <!-- ID Column -->
                                <ng-container matColumnDef="Domicilio">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Domicilio
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.Domicilio}} </mat-cell>
                                </ng-container>

                                <!-- ID Column -->
                                <ng-container matColumnDef="Colonia">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Colonia
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.Colonia}} </mat-cell>
                                </ng-container>

                                <!-- ID Column -->
                                <ng-container matColumnDef="CP">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> C.P.
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.CP}} </mat-cell>
                                </ng-container>

                                <!-- ID Column -->
                                <ng-container matColumnDef="IdEntidadFederal">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Entidad Federativa
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.NombreEF}} </mat-cell>
                                </ng-container>

                                <!-- ID Column -->
                                <ng-container matColumnDef="IdMunicipio">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Municipio
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.NombreMCP}} </mat-cell>
                                </ng-container>

                                <!-- ID Column -->
                                <ng-container matColumnDef="Telefono">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.Telefono}} </mat-cell>
                                </ng-container>

                                <!-- ID Column -->
                                <ng-container matColumnDef="Ubicacion">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ubicación
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.Ubicacion}} </mat-cell>
                                </ng-container>

                                <!-- ID Column -->
                                <ng-container matColumnDef="Empresa">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Empresa
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.Empresa}} </mat-cell>
                                </ng-container>

                                <!-- ID Column -->
                                <ng-container matColumnDef="RFC">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> R.F.C.
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.RFC}} </mat-cell>
                                </ng-container>

                                <!-- ID Column -->
                                <ng-container matColumnDef="Contacto">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Contacto
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.Contacto}} </mat-cell>
                                </ng-container>

                                <!-- ID Column -->
                                <ng-container matColumnDef="Region">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Región
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.Region}} </mat-cell>
                                </ng-container>
                                <!--chip column -->
                                <ng-container matColumnDef="Estatus">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index; " [formGroup]="reactiveForm">
                                        <mat-chip-list>
                                            <mat-chip *ngIf="row.Estatus=='A'" style="background-color:#80bc006b" color="primary" selected>Activo</mat-chip>
                                            <mat-chip *ngIf="row.Estatus=='I'" color="primary" style="background-color:#ff000073" color="primary" selected>Inactivo</mat-chip>
                                        </mat-chip-list>
                                    </mat-cell>
                                </ng-container>

                                <!--toggle column -->
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button mat-mini-fab class="button-edit" (click)="editar(row)" matTooltip="Editar">
									<mat-icon class="iconSize">edit</mat-icon>
									</button> &nbsp; &nbsp;
                                    </mat-cell>

                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;">
                                </mat-row>
                            </mat-table>
                            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                        </div>
                    </form>
                </mat-card-content>
                <notifier-container></notifier-container>
            </mat-card>
        </div>
    </div>
</div>