<div fxLayoutAlign="space-around end">
    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-around end" fxFlex="40" style="padding-top: 15%;padding-bottom: 14%;">
     <!--     <div id="rec4" fxFlex="30" fxLayoutAlign="top top">
            <img src="./assets/images/rec-4.svg" alt="embed SVG with the image tag">
        </div> -->
       <img src="./assets/images/logo-GTPE.svg" alt="embed SVG with the image tag">
        <p  class="espacio" >Bienvenidos</p>
     <!--  <div id="rec1" fxFlex="30" fxLayoutAlign="end end">
            <img src="./assets/images/rec-1.svg" alt="embed SVG with the image tag">
        </div>--> 
    </div>
</div>