<div fxLayout="row wrap" fxLayoutGap="1.5% grid" fxLayoutAlign="start center" fxLayout.lt-sm="row">
    <div fxLayout="row wrap" fxLayoutGap="20px" style="width: 100%;">
        <div fxFlex="100">
            <mat-card>
                <mat-card-content>
                    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
                        <div fxLayout="row wrap" fxLayoutGap="30px grid">
                            <div fxFlex="100" fxFlex.lt-md="100" fxl>
                                <h3>Seleccione un horario para el día: {{this.fecha | date: 'dd/MM/yyyy'}}</h3>
                                <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Horas disponibles" formControlName="HoraDisponible"
                                        required>
                                        <mat-option *ngFor="let hora of horas" [value]="hora.Hora">
                                            {{hora.Hora}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="reactiveForm.get('HoraDisponible')!.hasError('required')">
                                        El dato es obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
							<button mat-fab style="background-color: #F15A24; outline:none;" matTooltip="Cerrar" matDialogClose>
								<mat-icon>clear</mat-icon>
							</button>
							<button mat-fab style="background-color: #80BC00; outline:none;" matTooltip="Seleccionar hora"
								(click)="seleccionaHora()">
								<mat-icon>done</mat-icon>
							</button>
						</div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
