<div fxLayout="row wrap" fxLayoutGap="1.5% grid" fxLayoutAlign="start center" fxLayout.lt-sm="row">
    <h2 class="title-header-content" mat-raised-button>Reporte de registros por vencer, prueba PILOTO </h2>

    <div fxLayout="row wrap" fxLayoutGap="20px" fxFlex="100">
        <div id="divTitle" class="example-header" fxFlex="100" fxFlex.gt-md="30">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filtro">
            </mat-form-field>
        </div>

        <div id="divReport" class="example-header" fxFlex="100" fxFlex.gt-md="30">
            <button (click)="exportAsXLSX()" style="border-style: none; outline: none;" matTooltip="Exportar a Excel"><img src="./assets/iconos/excel.png" /></button>&nbsp;&nbsp;
        </div>
        <div class="example-container mat-elevation-z8" fxFlex="100" fxFlex.gt-md="100" id="htmlData">
            <mat-table [dataSource]="dataSource" matSort>

                <!-- Progress Column -->
                <ng-container matColumnDef="IdConcesionario">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Id Concesionario
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.IdConcesionario }} </mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="NombreCompleto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.NombreCompleto}} </mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="Telefono">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Telefono }} </mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Email
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" matTooltip="{{row.email}}"> {{row.email}} </mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="NombreM">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Marca
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.NombreM}} </mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="NombreSM">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Sub Marca
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.NombreSM}} </mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="IdVehiculo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Id Vehiculo
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.IdVehiculo }} </mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="Placa">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Placa
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Placa}} </mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="FechaInicio">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.FechaInicio | date: 'dd/MM/yyyy'}} </mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="FechaTermino">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Término
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.FechaTermino | date: 'dd/MM/yyyy'}} </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>
    </div>
    <notifier-container></notifier-container>
</div>