<div fxLayout="row wrap" fxLayoutGap="1.5% grid" fxLayoutAlign="start center" fxLayout.lt-sm="row">
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div fxFlex="30">
            <mat-card>
                <mat-card-actions fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
                    <mat-card-title fx-item style="color: #009288; font-weight: lighter;">Filtros de búsqueda
                    </mat-card-title>
                    <button mat-fab style="background-color: #2d4248; outline: none;" matTooltip="Buscar Consumo Estaciones" outline:none;>
                      <mat-icon>search</mat-icon>
                    </button>
                </mat-card-actions>

                <mat-card-content fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
                    <div fxFlex="50" fxFlex.lt-md="100" fxl>
                        <mat-form-field>
                            <mat-label>Fecha de Inicio</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="FechaInicio">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker style="outline: none;" required></mat-datepicker>
                            <mat-error *ngIf="reactiveForm.get('FechaInicio')!.hasError('required')">
                                El dato es oblgatorio
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="50" fxFlex.lt-md="100" fxl>
                        <mat-form-field>
                            <mat-label>Fecha de Termino</mat-label>
                            <input matInput [matDatepicker]="pickerF" formControlName="FechaFin">
                            <mat-datepicker-toggle matSuffix [for]="pickerF"></mat-datepicker-toggle>
                            <mat-datepicker #pickerF style="outline: none;" required></mat-datepicker>
                            <mat-error *ngIf="reactiveForm.get('FechaFin')!.hasError('required')">
                                El dato es oblgatorio
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </form>

    <div id="divTitle" class="example-header" fxFlex="100" fxFlex.gt-md="30">
        <h2 mat-raised-button>Reporte Consumo Estaciones </h2>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filtro">
        </mat-form-field>
    </div>

    <div id="divReport" class="example-header" fxFlex="100" fxFlex.gt-md="30">
        <button (click)="exportAsXLSX()" style="border-style: none; outline: none;" matTooltip="Exportar a Excel"><img src="./assets/iconos/excel.png" /></button>&nbsp;&nbsp;
    </div>
    <div class="example-container mat-elevation-z8" fxFlex="100" fxFlex.gt-md="100" id="htmlData">
        <mat-table [dataSource]="dataSource" matSort>

            <!-- Progress Column -->
            <ng-container matColumnDef="Empresa">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Empresa
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Empresa}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="Estacion">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Estación
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Estacion}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="Periodo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Período
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Periodo}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="TotalMovimientos">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Total Movimientos
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.TotalMovimientos | number}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="Litros">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Litros
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Litros | number}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="ImporteCobrado">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Importe Cobrado
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ImporteCobrado | currency}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
</div>