<div fxLayout="row wrap" fxLayoutGap="1.5% grid" fxLayoutAlign="start center" fxLayout.lt-sm="row">
	<div fxLayout="row wrap" fxLayoutGap="20px" style="width: 100%;">
		<div fxFlex="100">
			<mat-card>
				<div class="example-button-container">
                    <button mat-mini-fab  class="close-button" style="outline: none;" (click)="onNoClick()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
				<mat-card-actions fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
					<mat-card-title fx-item style="color: #001C71; font-weight: lighter;">Pre Registro
					</mat-card-title>
				</mat-card-actions>
				<mat-card-content>

				<!--	<button mat-raised-button (click)="isOptional = !isOptional">
						{{!isOptional ? 'Enable optional steps' : 'Disable optional steps'}}
					</button> -->
					<mat-horizontal-stepper [linear]=true #stepper (selectionChange)="selectionChange($event)">
						<ng-template matStepperIcon="edit">
							<mat-icon>check</mat-icon>
						  </ng-template>

						<mat-step [stepControl]="altaconcesionario!">
									<ng-template matStepLabel >Concesionario</ng-template>
									<app-altaconcesionario ></app-altaconcesionario>
									<br>
									<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
										<button mat-mini-fab matStepperNext style="background-color: #80BC00; outline:none;" matTooltip="Siguiente">
											<mat-icon>navigate_next</mat-icon>
										</button>
									  </div>
						</mat-step>

						<mat-step [stepControl]="altavehiculo!">
									<ng-template matStepLabel>Vehículo</ng-template>
									<app-altavehiculo ></app-altavehiculo>
									<br>
									<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" >
										<button mat-mini-fab matStepperPrevious style="background-color: #80BC00; outline:none;" matTooltip="Anterior">
											<mat-icon>navigate_before</mat-icon>
										</button>
										<button mat-mini-fab matStepperNext style="background-color: #80BC00; outline:none;" matTooltip="Siguiente">
											<mat-icon>navigate_next</mat-icon>
										</button>
									  </div>
						</mat-step>
									
						<mat-step [stepControl]="altapropietario!" *ngIf="valueAsigna">
									<ng-template matStepLabel >Propietario</ng-template>
									<app-altapropietario ></app-altapropietario>
									<br>
									<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" >
										<button mat-mini-fab matStepperPrevious style="background-color: #80BC00; outline:none;" matTooltip="Anterior">
											<mat-icon>navigate_before</mat-icon>
										</button>
										<button mat-mini-fab matStepperNext style="background-color: #80BC00; outline:none;" matTooltip="Siguiente">
											<mat-icon>navigate_next</mat-icon>
										</button>
									  </div>
						</mat-step>
			

						<mat-step [stepControl]="documentos!" >
							<ng-template matStepLabel>Documentos</ng-template>
							<app-documentos ></app-documentos>
							<br>
									<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" >
										<button mat-mini-fab matStepperPrevious style="background-color: #80BC00; outline:none;" matTooltip="Anterior">
											<mat-icon>navigate_before</mat-icon>
										</button>
										<button mat-mini-fab matStepperNext style="background-color: #80BC00; outline:none;" matTooltip="Siguiente">
											<mat-icon>navigate_next</mat-icon>
										</button>
									  </div>
				       </mat-step>

						<mat-step [stepControl]="altacita!">
									<ng-template matStepLabel>Citas</ng-template>
									<app-talleres ></app-talleres>
									<br>
									<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
										<button mat-mini-fab matStepperPrevious style="background-color: #80BC00; outline:none;" matTooltip="Anterior">
											<mat-icon>navigate_before</mat-icon>
										</button>
									  </div>
						</mat-step>

					</mat-horizontal-stepper>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>

