.clsInput {
    width: 100%;
}

.close-button {
    float: right;
    top: -24px;
    right: -24px;
    background-color: #F15A24;
}

.header-align-center {
    text-align: center;
    justify-content: flex-end;
}

.file-input {
    display: none;
}

.button-edit {
    width: 35px;
    height: 35px;
    outline: none;
    background-color: #001C71;
}