@import './../../theme';

:host {
  display: block;
  outline: none;

  .mat-list-item.active {
    background-color: mat-color($app-primary, 50);

  }
  &:hover
  {
    background-color: #4f60939e !important;
  }
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: mat-color($app-primary, 100) !important;
    }
  }
}


.arrow {  
  
      width:20px;
      margin-right: -15px;
}

.point {
    position: relative;    
    width: 0;
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid mat-color($app-primary, 100) !important;
     float:right;
}

.mat-list-item {
  //width: auto;
  color: #ffffff;
 

  .routeIcon {
    margin-right: 5px;
  }
}




