<div fxLayout="row wrap" fxLayoutGap="1.5% grid" fxLayoutAlign="start center" fxLayout.lt-sm="row">
    <div fxLayout="row wrap" fxLayoutGap="20px" style="width: 100%;">
        <div fxFlex="100">
            <mat-card>
                <form [formGroup]="reactiveForm" >
                <div class="example-button-container">
                    <button mat-mini-fab class="close-button" style="outline: none;" (click)="onNoClick()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <mat-card-header>
                    <mat-card-title fx-item class="title-header-content">Dictamen del seguro
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div style="padding: 15px;">
                        <div>
                            <div class="dropzoneSeguro" fileDragDrop (filesChangeEmiter)="onFileChangeSeguro($event)">
                                <div class="text-wrapper">
                                    <div class="centered">
                                        <input type="file" name="file" id="file"
                                            (change)="onFileChangeSeguro($any($event).target.files)" multiple>
                                        <label for="file"><span class="textLinkSeguro">
                                                <mat-icon>save_alt</mat-icon>Selecciona el dictamen del Seguro
                                            </span>&nbsp; o arrastra aquí!</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class=" mat-elevation-z8" *ngIf="dataVal">

                        <mat-table [dataSource]="dataSourceSeguro" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="IdEvidencias">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Id Evidencia
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.IdEvidencias}}
                                </mat-cell>
                            </ng-container>

                            <!-- Color Column -->
                            <ng-container matColumnDef="IdSiniestro">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Siniestro
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.IdSiniestro}}
                                </mat-cell>
                            </ng-container>

                            <!-- Color Column -->
                            <ng-container matColumnDef="ArchivoEvidencia">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Documento
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.ArchivoEvidencia}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="actions" stickyEnd>
                                <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <button mat-mini-fab class="button-documentos" (click)="verDocumento(row)"
                                        matTooltip="Ver archivo" style="outline:none; background-color: #3f51b5;">
                                        <mat-icon class="iconSize">zoom_in</mat-icon>
                                    </button>&nbsp; &nbsp;
                                    <button mat-mini-fab class="button-documentos"
                                        (click)="eliminarDocumentoSeguro(row)" matTooltip="Eliminar archivo"
                                        style="outline:none; background-color: #3f51b5;">
                                        <mat-icon class="iconSize">clear</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumnsSeguro; sticky: true"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsSeguro;">
                            </mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

                    </div>

                    <div style="padding: 15px;">

                        <mat-label style="font-size: 16px;">¿El seguro cubre la pérdida total y los litros pendientes a
                            consumir? &nbsp;</mat-label>
                        <mat-radio-group aria-label="" [disabled]="true" formControlName="dictamen">
                            <mat-radio-button value="C">SI</mat-radio-button>
                            <mat-radio-button value="N">NO</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </mat-card-content>
                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                    <button mat-mini-fab style="background-color: #80BC00; outline:none;" matTooltip="Confirmar"
                        (click)="confirmaDictamen()">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </form>
            </mat-card>          
        </div>
    </div>
</div>

