<div class="example-container" *ngIf="this.authenticationService.isLoggedIn">
  <mat-toolbar class="mat-elevation-z8 colorToolBar">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()" style="outline: none;">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    Gestor de GAS LP / {{title}}

    <div id="rec3">
      <img src="./assets/images/rec-3.svg" alt="embed SVG with the image tag" >
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
      style="outline: none;" (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <div id="rec2">
      <img src="./assets/images/logo-GTPE.svg" alt="embed SVG with the image tag" >
    </div>

    <div id="rec4">
      <img src="./assets/images/rec-4.svg" alt="embed SVG with the image tag" >
    </div>

  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #appDrawer #sidenav="matSidenav" class="mat-elevation-z8" mode="side" opened="true"
      (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
      <img class="avatar mat-elevation-z8" src="./assets/iconos/img_avatar2.png" />
      <h4 class="name">{{nombre}}</h4>
      <p class="designation">Bienvenid@</p>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <mat-nav-list >
        <a mat-list-item (click)="onLogout()" routerLinkActive="active-list-item" class="disable_ripple">
          <mat-icon>exit_to_app</mat-icon>Salir
        </a>
      </mat-nav-list>
      <div id="rec1">
        <img src="./assets/images/rec-1.svg" alt="embed SVG with the image tag" >
      </div>
     
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>