<div fxLayout="row wrap" fxLayoutGap="1.5% grid" fxLayoutAlign="start center" fxLayout.lt-sm="row">
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <div fxFlex="30">
          <mat-card>    
              <mat-card-actions fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px" >
                  <mat-card-title fx-item style="color: #009288; font-weight: lighter;">Filtros de búsqueda
                  </mat-card-title>
                  <button mat-fab style="background-color: #2d4248; outline: none;" matTooltip="Buscar placa" outline:none;>
                    <mat-icon>search</mat-icon>
                  </button>
                </mat-card-actions>
              <mat-card-content>
                  <div fxLayout="row wrap" fxLayoutGap="30px grid">
                      <div fxFlex="100" fxFlex.lt-md="100" fxl>
                          <mat-form-field class="example-full-width">
                            <mat-label>Placa</mat-label>
                            <input matInput placeholder="Placa" maxlength="10" formControlName="placa" onkeyup="javascript:this.value=this.value.toUpperCase();">
                            <mat-error *ngIf="reactiveForm.get('placa')!.invalid">Campo requerido
                            </mat-error>
                          </mat-form-field>
                      </div>
                  </div>
              </mat-card-content>
              <notifier-container></notifier-container>	
          </mat-card>
      </div>
  </form>

  <div id="divTitle" class="example-header" fxFlex="100" fxFlex.gt-md="30" fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">	
      <h2 mat-raised-button>Operadores</h2>
      <mat-form-field>
          <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filtro">
      </mat-form-field>
      <button mat-fab style="background-color: #80BC00; outline: none;" matTooltip="Alta de Operador"
      outline:none; (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div  class="example-container mat-elevation-z8" fxFlex="100" fxFlex.gt-md="100"  id="htmlData" >
      <mat-table [dataSource]="dataSource" matSort >

          <!-- ID Column -->
          <ng-container matColumnDef="NombreCompleto">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.NombreCompleto}} </mat-cell>
          </ng-container>

         <!-- Progress Column -->
         <ng-container matColumnDef="Nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header > Nombre
          </mat-header-cell>
          <mat-cell *matCellDef="let row" > {{row.Nombre}} </mat-cell>
      </ng-container>


      <!-- Color Column -->
      <ng-container matColumnDef="Paterno">
          <mat-header-cell *matHeaderCellDef mat-sort-header > Paterno
          </mat-header-cell>
          <mat-cell *matCellDef="let row" > {{row.Paterno}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="Materno">
          <mat-header-cell *matHeaderCellDef mat-sort-header > Materno
          </mat-header-cell>
          <mat-cell *matCellDef="let row" > {{row.Materno}} </mat-cell>
      </ng-container>

           <!-- Color Column -->
           <ng-container matColumnDef="RFC">
            <mat-header-cell *matHeaderCellDef mat-sort-header > RFC
            </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.RFC}} </mat-cell>
        </ng-container>

         <!-- Color Column -->
         <ng-container matColumnDef="CURP">
            <mat-header-cell *matHeaderCellDef mat-sort-header > CURP
            </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.CURP}} </mat-cell>
        </ng-container>

         <!-- Color Column -->
         <ng-container matColumnDef="IdIdentificacion">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Id Identificacion
            </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.IdIdentificacion }} </mat-cell>
        </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="FolioIdentificacion">
            <mat-header-cell *matHeaderCellDef mat-sort-header >FolioIdentificacion
            </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.FolioIdentificacion }} </mat-cell>
        </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="FechaNacimiento">
            <mat-header-cell *matHeaderCellDef mat-sort-header > FechaNacimiento
            </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.FechaNacimiento | date: 'dd-MM-YYYY'}} </mat-cell>
        </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="TipoPersona">
              <mat-header-cell *matHeaderCellDef mat-sort-header > Tipo Persona
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.TipoPersona}} </mat-cell>
          </ng-container>

           <!-- Color Column -->
           <ng-container matColumnDef="Genero">
              <mat-header-cell *matHeaderCellDef mat-sort-header > Genero
              </mat-header-cell>
              <mat-cell *matCellDef="let row" > {{row.Genero}} </mat-cell>
          </ng-container>

           <!-- Color Column -->
           <ng-container matColumnDef="EstadoCivil">
              <mat-header-cell *matHeaderCellDef mat-sort-header > EstadoCivil
              </mat-header-cell>
              <mat-cell *matCellDef="let row" > {{row.EstadoCivil}} </mat-cell>
          </ng-container>

           <!-- Color Column -->
           <ng-container matColumnDef="Calle">
              <mat-header-cell *matHeaderCellDef mat-sort-header >Calle
              </mat-header-cell>
              <mat-cell *matCellDef="let row" > {{row.Calle}} </mat-cell>
          </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="Exterior">
          <mat-header-cell *matHeaderCellDef mat-sort-header > Exterior
          </mat-header-cell>
          <mat-cell *matCellDef="let row" > {{row.Exterior}} </mat-cell>
      </ng-container>   
      
          <!-- Color Column -->
          <ng-container matColumnDef="Interior">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Interior
            </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.Interior}} </mat-cell>
        </ng-container>   
        
          <!-- Color Column -->
          <ng-container matColumnDef="CP">
            <mat-header-cell *matHeaderCellDef mat-sort-header > CP
            </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.CP }} </mat-cell>
        </ng-container>      
  
         <!-- Color Column -->
         <ng-container matColumnDef="IdColonia">
            <mat-header-cell *matHeaderCellDef mat-sort-header > IdColonia
            </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.IdColonia}} </mat-cell>
        </ng-container>  
        
         <!-- Color Column -->
         <ng-container matColumnDef="Colonia">
            <mat-header-cell *matHeaderCellDef mat-sort-header > Colonia
            </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.Colonia}} </mat-cell>
        </ng-container>    
  
        <!-- Color Column -->
        <ng-container matColumnDef="Municipio">
            <mat-header-cell *matHeaderCellDef mat-sort-header > Municipio
            </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.Municipio}} </mat-cell>
        </ng-container>  
        
          <!-- Color Column -->
          <ng-container matColumnDef="EntidadFederativa">
            <mat-header-cell *matHeaderCellDef mat-sort-header > EntidadFederativa
            </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.EntidadFederativa}} </mat-cell>
        </ng-container>  

             <!-- Color Column -->
             <ng-container matColumnDef="Telefono">
              <mat-header-cell *matHeaderCellDef mat-sort-header > Telefono
              </mat-header-cell>
              <mat-cell *matCellDef="let row" > {{row.Telefono}} </mat-cell>
          </ng-container>
    
            <!-- Color Column -->
            <ng-container matColumnDef="Celular">
              <mat-header-cell *matHeaderCellDef mat-sort-header > Celular
              </mat-header-cell>
              <mat-cell *matCellDef="let row" > {{row.Celular}} </mat-cell>
          </ng-container>
    
            <!-- Color Column -->
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header > email
              </mat-header-cell>
              <mat-cell *matCellDef="let row" > {{row.email}} </mat-cell>
          </ng-container>
    
            <!-- Color Column -->
            <ng-container matColumnDef="IdOperador">
              <mat-header-cell *matHeaderCellDef mat-sort-header > IdOperador
              </mat-header-cell>
              <mat-cell *matCellDef="let row" > {{row.IdOperador}} </mat-cell>
          </ng-container>
    
            <!-- Color Column -->
            <ng-container matColumnDef="Licencia">
              <mat-header-cell *matHeaderCellDef mat-sort-header > Licencia
              </mat-header-cell>
              <mat-cell *matCellDef="let row" > {{row.Licencia}} </mat-cell>
          </ng-container>

            <!--toggle column -->
            <ng-container matColumnDef="Estatus">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus</mat-header-cell>
              <mat-cell *matCellDef="let row;let i = index; " [formGroup]="reactiveForm">
                  <div>
                      <mat-slide-toggle [checked]="row.Estatus" (change)="changeEstatus(row)"> </mat-slide-toggle>
                  </div>
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions" >
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-mini-fab  class="button-edit" (click)="editar(row)"										
              matTooltip="Editar">
            <mat-icon class="iconSize">edit</mat-icon>
            </button>  
            </mat-cell>         
          </ng-container>
  
  

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>

