
  
            .login-field {
                color: #ffffff;
                background-color: #001C71;
                width: 100%; 
                outline: none; 
            }
    
            mat-card {
              margin: 2em auto;
              text-align: center;
              color: #898d8d;
              box-shadow: none !important;
              max-width: 400px;
            }
    
            a { 
              color: #009288;
            }
  
  
            mat-card-subtitle{
  
              padding-bottom: 50px;
            }




            .box {
              display: flex;
              align-items: center;
              justify-content: center;
            }
            
            .box div {
              width: 90%;
              height: 90%;
            }

  
  
    