<div _ngcontent-qmw-c246="" fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">

    
    <div _ngcontent-qmw-c246="" fxflex.sm="100" fxflex.xs="100" fxflex.md="50" fxflex.lg="25"
        fxflex.xl="25" fxflex="100" class="m-gap p-gap"
        style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 25%;">
        <mat-card _ngcontent-qmw-c246="" class="mat-card mat-focus-indicator">
            <div _ngcontent-qmw-c246="" class="card-wheather grad-blue">
                <div _ngcontent-qmw-c246="" class="dashboard-cards-title">Contratos</div>
               
                <div _ngcontent-qmw-c246="" class="weather">  
                    <div _ngcontent-qmw-c246="" class="sun d-flex justify-content-between">
                        <mat-icon  role="img" class="mat-icon notranslate routeIcon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">rotate_90_degrees_ccw</mat-icon>
                        
                        <div _ngcontent-qmw-c246="" class="temp align-self-center">
                            <P> Vigentes {{this.totalContratos | number}}
                            <P> Nuevos {{this.contratosNuevos}}
                        
                            
                        </div>
              
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

    <div _ngcontent-qmw-c246="" fxflex.sm="100" fxflex.xs="100" fxflex.md="50" fxflex.lg="25"
        fxflex.xl="33.33" fxflex="100" class="m-gap p-gap"
        style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 25%;">
        <mat-card _ngcontent-qmw-c246="" class="mat-card mat-focus-indicator">
            <div _ngcontent-qmw-c246="" class="card-wheather grad-blue">
                <div _ngcontent-qmw-c246="" class="dashboard-cards-title">Consumo </div>
                <div _ngcontent-qmw-c246="" class="weather">
                    <div _ngcontent-qmw-c246="" class="sun d-flex justify-content-between">
                        <mat-icon  role="img" class="mat-icon notranslate routeIcon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">local_car_wash</mat-icon>
                        <div _ngcontent-qmw-c246="" class="temp align-self-center"><p>Litros {{this.litrosConsumo | number }} <p>Importe $ {{this.importeConsumo | number }}</div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
      
    <div _ngcontent-qmw-c246="" fxflex.sm="100" fxflex.xs="100" fxflex.md="33.33" fxflex.lg="25"
    fxflex.xl="33.33" fxflex="100" class="m-gap p-gap"
    style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 25%;">
        <mat-card _ngcontent-qmw-c246="" class="mat-card mat-focus-indicator">
            <div _ngcontent-qmw-c246="" class="card-wheather grad-blue">
                <div _ngcontent-qmw-c246="" class="dashboard-cards-title">Ahorro y beneficios</div>
                
                <div _ngcontent-qmw-c246="" class="weather">
                    <div _ngcontent-qmw-c246="" class="sun d-flex justify-content-between">
                        <mat-icon  role="img" class="mat-icon notranslate routeIcon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">monetization_on</mat-icon>
                        <div _ngcontent-qmw-c246="" class="temp align-self-center"><p>Ahorro $ {{this.totalAhorro | number }}<p> Beneficios $ {{this.totalBeneficios | number}} </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div _ngcontent-qmw-c246="" fxflex.sm="100" fxflex.xs="100" fxflex.md="33.33" fxflex.lg="25"
    fxflex.xl="33.33" fxflex="100" class="m-gap p-gap"
    style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 25%;">
        <mat-card _ngcontent-qmw-c246="" class="mat-card mat-focus-indicator">
            <div _ngcontent-qmw-c246="" class="card-wheather grad-blue">
                <div _ngcontent-qmw-c246="" class="dashboard-cards-title">Fondo reserva</div>
                <div _ngcontent-qmw-c246="" class="weather">
                    <div _ngcontent-qmw-c246="" class="sun d-flex justify-content-between">
                        <mat-icon  role="img" class="mat-icon notranslate routeIcon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">local_atm</mat-icon>
                        <div _ngcontent-qmw-c246="" class="temp align-self-center"><p>Total $ {{this.totalAhorroFR | number}}<p> Periodo $ {{this.ahorroPeriodoFR | number}}</div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

</div>