<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.md="33%">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <h2>Precios</h2>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div flex>
                        <mat-icon role="img" class="mat-icon notranslate routeIcon material-icons mat-icon-no-color"
                            aria-hidden="true" data-mat-icon-type="font">local_gas_station</mat-icon>
                    </div>
                    <div flex>
                        <p> Gas (Ltr) $ {{this.precioGasLtr | number}} </p>
                        <p> Gasolina ${{this.precioGasolina | number}} </p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.md="33%">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <h2>Contratos</h2>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div flex>
                        <mat-icon role="img" class="mat-icon notranslate routeIcon material-icons mat-icon-no-color"
                            aria-hidden="true" data-mat-icon-type="font">business_center</mat-icon>
                    </div>
                    <div flex>
                        <p> Vigentes {{this.totalContratos | number}} </p>
                        <p> Nuevos {{this.contratosNuevos}} </p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.md="33%">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <h2>Consumo</h2>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div flex>
                        <mat-icon role="img" class="mat-icon notranslate routeIcon material-icons mat-icon-no-color"
                            aria-hidden="true" data-mat-icon-type="font">local_car_wash</mat-icon>
                    </div>
                    <div flex>
                        <p>Litros {{this.litrosConsumo | number }} </p>
                        <p>Importe $ {{this.importeConsumo | number }}</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.md="33%">

        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <h2>Ahorro y beneficios</h2>
            </mat-card-header>

            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div flex>
                        <mat-icon role="img" class="mat-icon notranslate routeIcon material-icons mat-icon-no-color"
                            aria-hidden="true" data-mat-icon-type="font">monetization_on</mat-icon>
                    </div>
                    <div flex>
                        <p>Ahorro $ {{this.totalAhorro | number }} </p>
                        <p> Beneficios $ {{this.totalBeneficios | number}} </p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.md="33%">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <h2>Fondo reserva</h2>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div flex>
                        <mat-icon role="img" class="mat-icon notranslate routeIcon material-icons mat-icon-no-color"
                            aria-hidden="true" data-mat-icon-type="font">local_atm</mat-icon>
                    </div>
                    <div flex>
                        <p>Total $ {{this.totalAhorroFR | number}} </p>
                        <p> Por periodo $ {{this.ahorroPeriodoFR | number}} </p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>