<div fxLayout="row wrap" fxLayoutGap="1.5% grid" fxLayoutAlign="start right" fxLayout.lt-sm="row">
    <div fxLayout="row wrap" fxLayoutGap="20px" style="width: 100%;">
        <div fxFlex="100">
            <mat-card>
                <div class="example-button-container">
                    <button mat-mini-fab class="close-button" style="outline: none;" (click)="onNoClick()">
                      <mat-icon>close</mat-icon>
                    </button>
                </div>
                <mat-card-actions fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
                    <mat-card-title fx-item style="color: #001C71; font-weight: lighter;">Usuarios
                    </mat-card-title>
                </mat-card-actions>
                <mat-card-content>
                    <form [formGroup]="frmEditUsr" (ngSubmit)="onSubmit()">
                        <div fxLayout="row wrap" fxLayoutGap="30px grid">
                            <div fxFlex="33.3" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Id Usuario</mat-label>
                                    <input matInput placeholder="Id Usuario" formControlName="IdUsuario" maxlength="13" onkeyup="javascript:this.value=this.value.toUpperCase();" required>
                                    <mat-error *ngIf="frmEditUsr.get('IdUsuario')!.hasError('required')">
                                        El dato es obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="33.3" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="Nombre" formControlName="Nombre" maxlength="45" required>
                                    <mat-error *ngIf="frmEditUsr.get('Nombre')!.hasError('required')">
                                        El dato es oblgatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="33.3" fxFlex.lt-md="100" fxl>
                                <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Perfil" formControlName="IdPerfil" [errorStateMatcher]="matcher" required>
                                        <mat-option *ngFor="let perfil of perfiles" [value]="perfil.IdPerfil">
                                            {{perfil.Descripcion}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="frmEditUsr.get('IdPerfil')!.invalid">Campo requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="33.3" fxFlex.lt-md="100" fxl>
                                <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Estatus" formControlName="Estatus" [errorStateMatcher]="matcher" required>
                                        <mat-option *ngFor="let estatus of estatus" [value]="estatus.Estatus">
                                            {{estatus.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="frmEditUsr.get('Estatus')!.invalid">Campo requerido</mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="33.3" fxFlex.lt-md="100" fxl>
                                <mat-form-field>
                                    <mat-label>Correo</mat-label>
                                    <input matInput placeholder="Correo" formControlName="email" formControlName="email" maxlength="75" required>
                                    <mat-error *ngIf="frmEditUsr.get('email')!.hasError('required')">
                                        El dato es oblgatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                            <button mat-mini-fab style="background-color: #80BC00; outline:none;" matTooltip="Guardar" (click)="guardarUsuario()">
                                <mat-icon>save</mat-icon>
                            </button>
                        </div>
                    </form>
                </mat-card-content>
                <notifier-container></notifier-container>
            </mat-card>
            <!--       <br>
            <alert></alert>-->
        </div>
    </div>
</div>