<div fxLayout="row wrap" fxLayoutGap="1.5% grid" fxLayoutAlign="start center" fxLayout.lt-sm="row">
    <div fxLayout="row wrap" fxLayoutGap="20px" style="width: 100%;">
        <div fxFlex="100">
            <mat-card>
                <mat-card-actions fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
					<mat-card-title fx-item style="color: #001C71; font-weight: lighter;">Confirmación
					</mat-card-title>
				</mat-card-actions>
                <mat-card-content>
                    <div mat-dialog-content>
                        <p>{{mensaje}}</p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                        <button mat-fab style="background-color: #F15A24; outline:none;" matTooltip="Cerrar"
                            matDialogClose>
                            <mat-icon>clear</mat-icon>
                        </button>
                        <button mat-fab style="background-color: #80BC00; outline:none;" matTooltip="Confirmar"
                            (click)="confirmado()">
                            <mat-icon>done</mat-icon>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
