<div fxLayout="row wrap" fxLayoutGap="1.5% grid" fxLayoutAlign="start center" fxLayout.lt-sm="row">
  <div fxLayout="row wrap" fxLayoutGap="20px" style="width: 100%;">
    <div fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div class="example-button-container">
            <button mat-mini-fab  class="close-button" style="outline: none;" (click)="onNoClick()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <mat-dialog-content>
            <h2>
              Favor de adjuntar el archivo: <strong>{{documento}}!</strong>
            </h2>
          </mat-dialog-content>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
