<mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="Flujo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Flujo
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Flujo}} </mat-cell>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="Estado">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Estado
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Estado}} </mat-cell>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="Estatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Estatus}} </mat-cell>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="Tramites">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tramites
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="centre"> {{row.Tramites}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
